<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>


      <p><em>
      
      Hey there,
      <br/>
      <br/>
      Following are my contact information:
      <br/>
      <br/>
      Contact No: 647-448-8406
      <br/>
      Email: hinalsoni20@gmail.com 
      <br/>
      linkedln: linkedin.com/in/hinalsoni
      </em></p>
      <% if(title == "Contact Me") { %>
        
        
           <a class="btn btn-info" href="/contactme" role="button">Click here to contact me</a>
      <% } %>

      
    </div>
  </div>

<% include ../partials/footer.ejs %>