<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4"><%= title %></h1>
      
<br/>
      <em>Goal-oriented, motivated and detail-oriented student looking for an opportunity in a challenging and fast-paced environment within the IT sector where I can utilize and enhance my technical and analytical skills
      </em> 
    <br/>
    <br/>
    
            
            <a class="btn btn-info " href="/about" role="button" >About Me</a>
           
      
   
    </div>
    
  </div>

<% include ../partials/footer.ejs %>