<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Projects") { %>
        
  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Projects</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Fashion Recommender e-commerce website</td>
      <td>Created a responsive e-commerce shopping website using JDBC, JSP, Servlet and Hibernate framework of Java and MySQL database
          

      </td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Soccer Club </td>
      <td>Used in-depth knowledge of C# and .Net to implement the website 
          <br/>
          Created front-end of the website using HTML and CSS 
          <br/>
          Used Microsoft SQL Server as a database system
</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Twenty-one mobile application</td>
      <td>Developed an application that allows the user to implement a habit
          <br/>
          User gets a daily reminder for the habit with the quotes which are stored using SQLite database
          <br/>
          Provides the report of users’ progress 
      </td>
      
    </tr>

    
  </tbody>
</table>
      <% } %>

      
    </div>
  </div>

<% include ../partials/footer.ejs %>