/* custom css goes here */



/*
    File name: app.css
    Student name: Hinal Soni
    Student ID: 300990140 
    Date: February 16, 2019
*/
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}