<% include ../partials/header.ejs %>

  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Services") { %>
        
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Technical Skills</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Programming Languages</td>
      <td>JAVA, C, C++, C#, Microsoft's .NET</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Database systems</td>
      <td>MySQL, Microsoft SQL Server, Oracle</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Operating System</td>
      <td>Windows</td>
      
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Mobile Application Development</td>
      <td>Android Studio</td>
      
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Web Development Technologies</td>
      <td>HTML, CSS, JavaScript</td>
      
    </tr>
  </tbody>
</table>
      <% } %>

      
    </div>
  </div>

<% include ../partials/footer.ejs %>